body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container-next {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#nav-main {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#nav-main li {
    margin-left: 20px;
}

#nav-main li a {
    color: #fff;
    text-decoration: none;
}

.content {
    text-align: center;
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.image-container {
    text-align: center;
    background-color: #f5ebeb; /* Added background color */
    padding: 20px; /* Added padding */
}

.image-container img {
    max-width: 30%;
    height: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.image-container img:hover {
    transform: scale(1.05);
}
